@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes slideInLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
body {
    margin: 0;
    padding: 0;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1024px;
    height: 768px;
    margin: 0 auto;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    height: auto;
    flex-grow: 1;
    margin: 0 auto;
  }

  .background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  .overlay-image {
    aspect-ratio: 3.8;
    object-fit: contain;
    object-position: center;
    width: 41%;
    position: absolute;
    min-height: 20px;
    overflow: hidden;
    top: 40%;
    left: 96%;
    height: 16%;
    animation: slideInLeft 2s ease-out forwards;
    margin: auto;
  }