
/* Navbar styling */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .navbar button {
    padding: 10px 20px;
    color: white;
    background-color: #555;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar button:hover {
    background-color: #777;
  }
  
  /* Left and Right buttons */
  .left-btn {
    margin-left: 20px;
  }
  
  .right-btn {
    margin-right: 20px;
  }